*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-weight: 400;
    background-color: #32353B;
}

ul {
    list-style: none;
}

.fLeft :global {
    float: left;
}

.fRight :global {
    float: right;
}
