*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

body {
    font-weight: 400;
    background-color: #32353B;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    min-height: 0;
    overflow: hidden;
    opacity: 0;
}